/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
/* styles.scss */

/* Base Styles - Mobile First */
body {
    font-family: Arial, sans-serif;
    margin: 20;
    display: flex;
    flex-direction: column;
  }
  
  /* Default Grid Layout */
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  
  /* Medium screens (Tablets) */
  @media (min-width: 600px) {
    .container {
      grid-template-columns: repeat(2, 1fr); /* 2-column layout for tablets */
    }
  }
  
  /* Large screens (Desktops) */
  @media (min-width: 1024px) {
    .container {
      grid-template-columns: repeat(3, 1fr); /* 3-column layout for desktops */
    }
  }
  
  /* Very large screens (Larger Desktops) */
  @media (min-width: 1440px) {
    .container {
      grid-template-columns: repeat(4, 1fr); /* 4-column layout for large screens */
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
