/* task-modal.component.css */
:host {
  display: block;
  color: var(--text-color);
}

.task-modal-container {
  background-color: var(--card-background);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.task-modal-title {
  color: var(--text-color);
  border-bottom: 1px solid var(--divider-color);
}

.task-modal-content {
  background-color: var(--card-background);
}

.task-modal-actions {
  border-top: 1px solid var(--divider-color);
}

::ng-deep .task-modal-container .mat-form-field .mat-input-element {
  color: var(--text-color) ; 
}

::ng-deep .task-modal-container .mat-form-field-label {
  color: var(--text-secondary);
}